body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

h1{
	text-transform: uppercase;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	color: white;
}

#setInterval{
	color: steelblue;
	font-weight: bold;
	font-size: 100%;
	margin-right: 5px;
}

#middleHd{
	font-size: 3rem;
}

#container{
	max-width: 800px;
	margin: 20px auto;
	text-align: center;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.word{
	width: 100%;
	background-color: white;
	margin: 3%;
	height: 200px;
	border-radius: 5%;
	padding-bottom: 20%;
}

button{
	border:none;
	background: none;
	color: steelblue;
	height: 100%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
	margin:0;
	outline: none;
}

#wordIndex{
	display: inline-block;
	width: 20%;
}

#speed{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-color: steelblue;
/*	border-top: none;
	border-bottom: none;*/
	height: 80%;
	width: 3%;
}

#speed{
	text-align: center;
}

.word{
	font-size: 4rem;
	font-weight: 10px;
}

#runn{
	background-color: grey;
}
